
<div class="card-header">
    <% @tweeets.each do |tweeet| %>
        <h5> username </h5>
            <div class="card">
                <p class="card-text">
                    <tbody>
                        <tr>
                            <td><%= tweeet.tweeet %></td>
                                <div>
                                    <td><%= link_to 'Show', tweeet, class:"btn btn-primary" %></td>
                                    <td><%= link_to 'Edit', edit_tweeet_path(tweeet), class:"btn btn-secondary" %></td>
                                    <td><%= link_to 'Destroy', tweeet, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                                </div>
                        </tr>
                    </tbody>
                    </p>
            </div>
    <% end %>  
</div>
