<div class="card">
    <% @tweeets.each do |tweeet| %>
        <p class="card-text">
            <tbody>
                <tr>
                    <td><%= tweeet.tweeet %></td>
                    <td><%= link_to 'Show', tweeet %></td>
                    <td><%= link_to 'Edit', edit_tweeet_path(tweeet) %></td>
                    <td><%= link_to 'Destroy', tweeet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            </tbody>
    <% end %>  
        </p>
</div>