<div class="card-header">
        <% @tweeets.each do |tweeet| %>
            <%= image_tag tweeet.user.profile_picture %>
            <%= render 'tweeet', tweeet: tweeet %>
        <% end %>
</div>
</br>
<% if @tweeets.class != Array %>
    <%= paginate @tweeets %>
<% end %>