<div class="container">
  <% if user_signed_in? %>
    <%= render 'profile' %>
    <%= render 'form' %>
    <%= render 'friends_profile' %>
  <% end %>
</div>
</br>
<h1>Tweeets</h1>
  <%= render 'feed' %>
<br>

